.piece {
    background-color: white;
    border-radius: 10px
}

body {
    font-weight: bold;
    background-color: lightgray; !important
}

#pgn {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
}
